<h1>Notes</h1>
  <div id="tree">
    <%= Note.print_html_tree.html_safe %>
  </div>
  <div id="note">
  Hello
  </div>

<script>
  function show_note(id) {
    toggle_subtree('node-'+id);
  }
  function toggle_subtree(div) {
    $(div).hide();
  }
</script>
